<DOCTYPE html>

    <html>

    <head>

        <link rel="stylesheet" href="/CSS/styles.css" />
    </head>

    <body>

         {{>header}}
        <img class="potrait" src="/img/images.jpg">
        <br />
       
        <p1>Created by {{Name}}</p1>

        {{>footer}}

    </body>


</html>
