<DOCTYPE html>

    <html>

    <head>

        <link rel="stylesheet" href="/CSS/styles.css" />
    </head>

    <body>

         {{>header}}
       
       
         <img class="potrait" src="/img/images.jpg" height="300" width="300">
        <br />
       <p>This app takes a data from mapbox and weather stack</p>
       <a href="https://www.linkedin.com/in/ayush-tripathi-28bba3162" class="badge badge-primary">My LinkedIn Profile Link</a>
       

        {{>footer}}

    </body>


</html>
