<DOCTYPE html>

    <html>

    <head>

        <link rel="stylesheet" href="/CSS/styles.css" />
    </head>

    <body>

        {{>header}}
          <p>This app will not work in two cases</p>
        <p> If your internet is not working properly</p>
        <p> If the total number of request is more than 1000</p>
        
     
        {{>footer}}


    </body>


</html>
