<DOCTYPE html>

    <html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/CSS/styles.css" />


    </head>

    <body>

        {{>header}}

        <div>

            <div><form>

                <input class="form-control" type="text" placeholder="location">

               <div><button class="btn btn-dark btn-sm">Search</button></div> 



            </form>
            </div>
           <div> <p id="message-1">

            </p>

            <p id="message-2">

            </p>
            </div>

        </div>

        {{>footer}}

        <script src="/js/app.js"></script>
    </body>


</html>
